@{
    ViewData["title"] = "Dashboard";
}

@section Css {
<link rel="stylesheet" href="~/css/Account/Dashboard.css" />
}

<button class="create-new">
    Create new
</button>

<div class="clearfix"></div>

<table class="table">
    <thead class="table__head">
        <tr class="table__row--head">
            <th class="table__col">Name</th>
            <th class="table__col">Actions</th>
        </tr>
    <tbody class="table__body">
        <tr class="table__row">
            <td class="table__col">Name</td>
            <td class="table__col">Actions</td>
        </tr>

        <tr class="table__row">
            <td class="table__col">Name</td>
            <td class="table__col">Actions</td>
        </tr>
    </tbody>

</table>