/* ==================== Font Import ==================== */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
/* ==================== End Font Import ==================== */

:root {
    --color60: #2A3596;
    --color30: #3A6AD0;
    --color10: #4FC8DA;
}

/* ==================== Header ==================== */

.nav {
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    justify-content: space-between;
}

.header {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    background-color: var(--color60);
}

.nav__logo {
    font-family: 'Pacifico', cursive;
    font-size: 35px;
    color: var(--color10);
}

.nav__list {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.nav__link {
    color: var(--color10);
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1.5px;
}

.nav__link::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: var(--color10);
    bottom: -2px;
    left: 0;
    transition: all .2s;
    opacity: 0;
    border-radius: 2px;
}

.nav__link:hover {
    border: none;
    color: var(--color10);
    text-decoration: none;
}

.nav__item {
    padding: 0 2px;
    position: relative;
}

.nav__item:hover .nav__link::after {
    bottom: 0;
    opacity: 80%;
}

.nav__item:not(:last-child) {
    margin-right: 40px;
}

/* mobile */

.mobile-nav__menu-btn, .mobile-nav__list, .nav-bg-dark {
    display: none;
}

.mobile-nav__menu-btn {
    position: fixed;
    border: none;
    font-size: 25px;
    background-color:transparent;
    z-index: 1002;
    right: 10px;
    color: var(--color10);
}

body {
    position: relative;
    background-color: var(--color30);
}

.mobile-nav__item {
    position: relative;
    padding: 0 2px;
}

.nav-bg-dark {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.4);
    z-index: 1000;
}

.mobile-nav__list {
    position: fixed;
    width: min(400px, 75vw);
    background-color: var(--color60);
    right: -100%;
    top: 0;
    z-index: 1001;
    margin: 0;
    height: 100vh;
    flex-direction: column;
    justify-content: space-evenly;
    display: flex;
    list-style-type: none;
    align-items: center;
    padding: 0;
    transition: all .2s;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 80px 0;
}

.mobile-nav__link {
    color: var(--color10);
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1.5px;
}

.mobile-nav__link::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: var(--color10);
    bottom: -2px;
    left: 0;
    transition: all .2s;
    opacity: 0;
    border-radius: 2px;
}

.mobile-nav__link:hover {
    border: none;
    color: var(--color10);
    text-decoration: none;
}

.mobile-nav__item:hover .mobile-nav__link::after, .mobile-nav__link:active::after {
    bottom: 0;
    opacity: 80%;
}

@media only screen and (max-width: 768px){
    .mobile-nav__menu-btn {
        display: block;
    }

    .nav__list {
        display: none;
    }
}

/* ==================== End Header ====================*/

/* ==================== Body ====================*/
.main-inner{
    padding-top:100px;
    text-align: center;
}

.footer {
    background-color: var(--color60);
    padding: 50px 0;
    margin-top: 40px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: center;
    color: var(--color10);
    font-size: 30px;
}
/* ==================== End Body ====================*/

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}