body {
    position: relative;
}

.create-new {
    float: right;
    border: 2px solid var(--color10);
    border-radius: 2px;
    padding: 5px 15px;
    font-weight: bold;
    background-color: transparent;
    position: relative;
    text-decoration: none;
    color: var(--color10);
}

.create-new::after {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: rgba(0,0,0, 0.05);
    width: 0;
    transition: all .2s;
    transition-timing-function: ease;
    content: "";
}

.create-new:hover {
    color: var(--color10);
}

.create-new:hover:after {
    width: 100%;
}

thead tr th:nth-child(1) {
    width: 10%;
}

thead tr th:nth-child(2) {
    width: 60%;
}

thead tr th:nth-child(3) {
    width: 30%;
}

table {
    margin-top: 50px;
    background-color: #fff;
}

.table {
    margin-bottom: 100px;
}

.table .thead-dark th{
    background-color: var(--color10);
}

.action {
    background-color: transparent;
    border: none;
    outline: none;
    color: rgba(0,0,0,0.7);
    transition: all 0.05s;
}

.action:hover, action:active {
    color: var(--color10);
}

@keyframes Rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.reload {
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--color10);
}

.reload:hover {
    animation: Rotate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@media only screen and (max-width: 576px){
    .create-new {
        float: left;
        margin-top: 20px;
    }
}